$font-size-max:1.4rem;
$font-size-med:1.2rem;
$font-size-min:1rem;

@media(max-width: 360px) {

    header {
        h1 {
            font-size: $font-size-max;
        }
        h2 {
            font-size: $font-size-med;
        }

        .container-box {
          
            .box {
                width:78px;
                height :52px;
    
                h3 {
                    font-size: $font-size-med;
                   
                }
    
                p {
                    font-size: $font-size-med;
                    
                }
            }
        }

    }


    section {
        gap: 12px;
    }

}